<div class="content">
  <mat-card
    [formGroup]="fgBasisEingabe"
    class="padding-1 display-flex gap-1 fd-column"
  >
    <mat-form-field
      appearance="outline"
      floatLabel="always"
      subscriptSizing="dynamic"
      class="width-100p"
    >
      <mat-label>Gewicht in KG</mat-label>
      <input matInput type="number" formControlName="gewicht" />
    </mat-form-field>
    <div class="chip-container">
      <mat-chip
        *ngFor="let gewicht of this.selektierbareGewichte"
        (click)="this.handleGewichtInKgChipClick(gewicht)"
        >{{ gewicht }}</mat-chip
      >
    </div>
    <mat-form-field
      appearance="outline"
      floatLabel="always"
      subscriptSizing="dynamic"
      class="width-100p"
    >
      <mat-label>Wiederholungen</mat-label>
      <input matInput type="number" formControlName="wiederholungen" />
    </mat-form-field>
    <div class="chip-container">
      <mat-chip
        *ngFor="let wiederholungen of this.selektierbareWiederholungen"
        (click)="this.handleWiederholungenChipClick(wiederholungen)"
        >{{ wiederholungen }}</mat-chip
      >
    </div>
  </mat-card>
  <mat-card class="padding-1 display-flex gap-1 fd-column">
    <span>Intramuskuläre Koordination</span>
    <div class="display-flex gap-0_5 fd-column">
      <div class="display-flex jc-space-between">
        <span></span>
        <span class="white-space-pre">{{ "Wdh.".padEnd(6) }}</span>
        <span></span>
      </div>
      <div class="display-flex jc-space-between">
        <span class="white-space-pre">100%</span>
        <span>{{ mapProzentualeGewichte.get(100)?.anzahlWiederholungen }}</span>
        <span>{{ mapProzentualeGewichte.get(100)?.gewicht }} KG</span>
      </div>
      <div class="display-flex jc-space-between">
        <span class="white-space-pre">{{ "90%".padStart(4) }}</span>
        <span>{{ mapProzentualeGewichte.get(90)?.anzahlWiederholungen }}</span>
        <span>{{ mapProzentualeGewichte.get(90)?.gewicht }} KG</span>
      </div>
    </div>
  </mat-card>
  <mat-card class="padding-1 display-flex gap-1 fd-column">
    <span>Hypertrophie</span>
    <div class="display-flex gap-0_5 fd-column">
      <div class="display-flex jc-space-between">
        <span></span>
        <span class="white-space-pre">{{ "Wdh.".padEnd(6) }}</span>
        <span></span>
      </div>
      <div class="display-flex jc-space-between">
        <span class="white-space-pre">{{ "80%".padStart(4) }}</span>
        <span>{{ mapProzentualeGewichte.get(80)?.anzahlWiederholungen }}</span>
        <span>{{ mapProzentualeGewichte.get(80)?.gewicht }} KG</span>
      </div>
      <div class="display-flex jc-space-between">
        <span class="white-space-pre">{{ "70%".padStart(4) }}</span>
        <span>{{ mapProzentualeGewichte.get(70)?.anzahlWiederholungen }}</span>
        <span>{{ mapProzentualeGewichte.get(70)?.gewicht }} KG</span>
      </div>
      <div class="display-flex jc-space-between">
        <span class="white-space-pre">{{ "60%".padStart(4) }}</span>
        <span>{{ mapProzentualeGewichte.get(60)?.anzahlWiederholungen }}</span>
        <span>{{ mapProzentualeGewichte.get(60)?.gewicht }} KG</span>
      </div>
    </div>
  </mat-card>
  <mat-card class="padding-1 display-flex gap-1 fd-column">
    <span>Kraftausdauer</span>
    <div class="display-flex gap-0_5 fd-column">
      <div class="display-flex jc-space-between">
        <span></span>
        <span class="white-space-pre">{{ "Wdh.".padEnd(6) }}</span>
        <span></span>
      </div>
      <div class="display-flex jc-space-between">
        <span class="white-space-pre">{{ "50%".padStart(4) }}</span>
        <span>{{ mapProzentualeGewichte.get(50)?.anzahlWiederholungen }}</span>
        <span>{{ mapProzentualeGewichte.get(50)?.gewicht }} KG</span>
      </div>
      <div class="display-flex jc-space-between">
        <span class="white-space-pre">{{ "40%".padStart(4) }}</span>
        <span>{{ mapProzentualeGewichte.get(40)?.anzahlWiederholungen }}</span>
        <span>{{ mapProzentualeGewichte.get(40)?.gewicht }} KG</span>
      </div>
      <div class="display-flex jc-space-between">
        <span class="white-space-pre">{{ "30%".padStart(4) }}</span>
        <span>{{ mapProzentualeGewichte.get(30)?.anzahlWiederholungen }}</span>
        <span>{{ mapProzentualeGewichte.get(30)?.gewicht }} KG</span>
      </div>
    </div>
  </mat-card>
</div>
